---
import App from '../components/App.tsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Did you em dash?</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #f5f5f5;
				min-height: 100vh;
			}
		</style>
	</head>
	<body>
		<App client:load />
	</body>
</html>
